* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


.header {
    background: #1D3557;
    padding: 10px;
    
    width: 100%;
}
.header__container, .header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container a {
    color: white;
}
.header__title {
    margin-left: 20px;
}
.title {
    margin-left: 10px;
    font-weight: bold;
    border-left: solid #fff 1px;
    padding: 5px 10px;
    padding-left: 15px;
}
.nav {
    width: 340px;
}
.nav .Nav__a {
    padding: 0px 5px;
    margin: 0px 5px;
    transition: all 300ms;
}
.nav .Nav__a:hover {
    border-bottom: 2px solid #fff;
}
.header__logo {
    width: 40px;
    display: block;
}
.section {
    margin-top: 78px;
}


/* tarjetas */

* {
    margin: 0;
    padding: 0;
  }
  
  .container-perfil {
    width: 80%;
    margin: auto;
  
  }
  
  .sub-container-perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .title-carrera {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .title-proyecto {
    padding-top: 10px;
  }